# PROJECT ENV

DB_DIR=database
BACKEND_DIR=backend
FRONTEND_DIR=frontend


# DATABASE ENV
POSTGRES_USER=DB_USER
POSTGRES_PW=POSTGRES_PASSWORD
POSTGRES_DB=MYDATABASE
PGADMIN_MAIL=XXXXX@email.com
PGADMIN_PW=PASSWORD
SUPERUSER=SUPER_USER
SUPERUSER_MAIL=SUPER_USER@email.com

# BACKEND ENV

JWT_SECRET=SECRETXXXXXX
PROTOCOL=XXXX
HOST=HOSTNAME
PORT=9999999999999999999999999999
API_BASE_URL=protocol://host:port
FRONTEND_URL=https://localhost:443
GITHUB_CLIENT_ID=FAHFJIFHASJKFKJAFSJFAHFJAS
GITHUB_CLIENT_SECRET=FSAJKHFJAHFCM,AMA,MMjHJjFASFJAKFJS
GITHUB_CALLBACK_URL=https://url.com:port/service

# DEVOPS ENV

DATA_SOURCE_NAME=postgresql://${POSTGRES_USER}:${POSTGRES_PW}@postgres:5432/${POSTGRES_DB}?sslmode=require
DATA_SOURCE_NAME=postgresql://${POSTGRES_USER}:${POSTGRES_PW}@postgres:5432/${POSTGRES_DB}?sslmode=require
DB_CONTAINER=EXAMPLE_DB
DB_NAME=EXAMPLE_DB
DB_USER=EXAMPLE_USER
GF_SECURITY_ADMIN_PASSWORD=EXAMPLE_PW
GF_SECURITY_ADMIN_USER=EXAMPLE
GF_SERVER_PROTOCOL=https
GF_SERVER_HTTP_PORT=99999
GF_SERVER_DOMAIN=grafana
GF_SERVER_ROOT_URL=https://grafana:99999
GF_SERVER_CERT_FILE=/etc/grafana/certs/grafana.crt
GF_SERVER_CERT_KEY=/etc/grafana/certs/grafana.key

GF_SMTP_ENABLED=true
GF_SMTP_HOST=smtp.gmail.com:587
GF_SMTP_USER=example@gmail.com
GF_SMTP_PASSWORD=example
GF_SMTP_FROM_ADDRESS=example@gmail.com
GF_SMTP_FROM_NAME=example_example

discovery.type=single-node
xpack.security.enabled=true
xpack.security.http.ssl.enabled=true
xpack.security.http.ssl.certificate=/usr/share/elasticsearch/config/certs/elasticsearch.crt
xpack.security.http.ssl.key=/usr/share/elasticsearch/config/certs/elasticsearch.key
xpack.security.http.ssl.certificate_authorities=/usr/share/elasticsearch/config/certs/ca.crt
ELASTIC_PASSWORD=example_password
ES_JAVA_OPTS=-Xms512m -Xmx512m

KIBANA_SYSTEM_PASSWORD=example_pw

SERVER_NAME=example
SERVER_HOST=0.0.0.0
SERVER_PORT=5601
SERVER_SSL_ENABLED=true
SERVER_SSL_CERTIFICATE=/usr/share/kibana/config/certs/kibana.crt
SERVER_SSL_KEY=/usr/share/kibana/config/certs/kibana.key
ELASTICSEARCH_HOSTS=https://elasticsearch:9200
ELASTICSEARCH_USERNAME=kibana_username
ELASTICSEARCH_PASSWORD=${KIBANA_SYSTEM_PASSWORD}
ELASTICSEARCH_SSL_CERTIFICATEAUTHORITIES=/usr/share/kibana/config/certs/ca.crt
path.repo=/snapshots
