
# DATABASE ENV
POSTGRES_USER=DB_USER
POSTGRES_PW=POSTGRES_PASSWORD
POSTGRES_DB=MYDATABASE
PGADMIN_MAIL=XXXXX@email.com
PGADMIN_PW=PASSWORD


# FRONTEND ENV
TRANSCENDENCE=$(pwd)
FRONTEND=${TRANSCENDENCE}/XXXXX


# BACKEND ENV

JWT_SECRET=SECRETXXXXXX
PORT=9999999999999999999999999999
GITHUB_CLIENT_ID=FAHFJIFHASJKFKJAFSJFAHFJAS
GITHUB_CLIENT_SECRET=FSAJKHFJAHFCM,AMA,MMjHJjFASFJAKFJS
GITHUB_CALLBACK_URL=https://url.com:port/service