# PROJECT ENV

DB_DIR=database
BACKEND_DIR=backend
FRONTEND_DIR=frontend


# DATABASE ENV
POSTGRES_USER=DB_USER
POSTGRES_PW=POSTGRES_PASSWORD
POSTGRES_DB=MYDATABASE
PGADMIN_MAIL=XXXXX@email.com
PGADMIN_PW=PASSWORD

# BACKEND ENV

JWT_SECRET=SECRETXXXXXX
PROTOCOL=XXXX
HOST=HOSTNAME
PORT=9999999999999999999999999999
API_BASE_URL=protocol://host:port
GITHUB_CLIENT_ID=FAHFJIFHASJKFKJAFSJFAHFJAS
GITHUB_CLIENT_SECRET=FSAJKHFJAHFCM,AMA,MMjHJjFASFJAKFJS
GITHUB_CALLBACK_URL=https://url.com:port/service

# DEVOPS ENV

DATA_SOURCE_NAME=postgresql://${POSTGRES_USER}:${POSTGRES_PW}@postgres:5432/${POSTGRES_DB}?sslmode=require